<a href="https://colab.research.google.com/github/notice4/google-colab-study/blob/main/quiz4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import VotingClassifier
from keras.src.models import Sequential
from keras.src.layers import Dense

In [34]:
data = pd.read_csv("heart_failure.csv")
data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [35]:
data.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [36]:
data.duplicated().sum()

np.int64(0)

In [37]:
y = data["DEATH_EVENT"]
X = data.drop("DEATH_EVENT", axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [38]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [41]:
voting = VotingClassifier(
    estimators=[
        ('algo1', GaussianNB()),
        ('algo2', KNeighborsClassifier(n_neighbors=5)),
        ('algo3', LogisticRegression(max_iter=1000))
    ],
    voting='soft'
)

voting.fit(X_train, y_train)
print(f'Accuracy: {voting.score(X_test, y_test)}')

# Accuracy: 0.7888888888888889

Accuracy: 0.7888888888888889

In [42]:
model = Sequential([
    Dense(30, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(30, activation='relu'),
    Dense(30, activation='relu'),
    Dense(30, activation='relu'),
    Dense(30, activation='relu'),
    Dense(1, activation='sigmoid')
])

model.compile(optimizer='sgd', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=100, batch_size=16, verbose=0)
model_accuracy = accuracy_score(y_test, (model.predict(X_test) > 0.5).astype(int))
print(model_accuracy)

# Accuracy: 0.8222222222222222

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

3/3 ━━━━━━━━━━━━━━━━━━━━ 1s 137ms/step
0.8